In [0]:
Sample_Data=[(1,'Sonu','DA',450000,),\
      (2,'Raja','BA',350000,),\
      (3,'Monu','QA',550000,),\
      (4,'Jit','QA',670000,),\
      (5,'Sagar','PMO',950000,),
      ]
columns=["Emp_id","Emp_name","Dept","Salary"]

df=spark.createDataFrame(data=Sample_Data,schema=columns)
df.show()

+------+--------+----+------+
|Emp_id|Emp_name|Dept|Salary|
+------+--------+----+------+
|     1|    Sonu|  DA|450000|
|     2|    Raja|  BA|350000|
|     3|    Monu|  QA|550000|
|     4|     Jit|  QA|670000|
|     5|   Sagar| PMO|950000|
+------+--------+----+------+

In [0]:
## Aggregate at one column
from pyspark.sql.functions import sum,avg,count,max
df.groupBy("Dept")\
    .agg(max("Salary").alias("Sal")) \
    .show(truncate=False)

+----+------+
|Dept|Sal   |
+----+------+
|DA  |450000|
|BA  |350000|
|QA  |670000|
|PMO |950000|
+----+------+