In [0]:
data=[('James','','Smith','1991-04-01','M',3000),
        ('Michael','Rose','','2000-05-19','M',4000),
  ('Robert','','Williams','1978-09-05','M',4000),
  ('Maria','Anne','Jones','1967-12-01','F',4000),
  ('Jen','Mary','Brown','1980-02-17','F',-1)
    ]

columns = ["firstname","middlename","lastname","dob","gender","salary"]
df=spark.createDataFrame(data=data,schema=columns)

In [0]:
## Change the datatype using with Column
from pyspark.sql.functions import col,cast
df.withColumn("salary",col("salary").cast("Integer")).show()
df.printSchema()

+---------+----------+--------+----------+------+------+
|firstname|middlename|lastname|       dob|gender|salary|
+---------+----------+--------+----------+------+------+
|    James|          |   Smith|1991-04-01|     M|  3000|
|  Michael|      Rose|        |2000-05-19|     M|  4000|
|   Robert|          |Williams|1978-09-05|     M|  4000|
|    Maria|      Anne|   Jones|1967-12-01|     F|  4000|
|      Jen|      Mary|   Brown|1980-02-17|     F|    -1|
+---------+----------+--------+----------+------+------+

root
 |-- firstname: string (nullable = true)
 |-- middlename: string (nullable = true)
 |-- lastname: string (nullable = true)
 |-- dob: string (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: long (nullable = true)

In [0]:
## Update the value of existing columms
df1=df.withColumn("salary",col("salary")*100)
df1.show()

+---------+----------+--------+----------+------+------+
|firstname|middlename|lastname|       dob|gender|salary|
+---------+----------+--------+----------+------+------+
|    James|          |   Smith|1991-04-01|     M|300000|
|  Michael|      Rose|        |2000-05-19|     M|400000|
|   Robert|          |Williams|1978-09-05|     M|400000|
|    Maria|      Anne|   Jones|1967-12-01|     F|400000|
|      Jen|      Mary|   Brown|1980-02-17|     F|  -100|
+---------+----------+--------+----------+------+------+

In [0]:
## Create New column from Exising 
df2=df.withColumn("Salary_copy",col("salary")*-1)
df2.show()

+---------+----------+--------+----------+------+------+-----------+
|firstname|middlename|lastname|       dob|gender|salary|Salary_copy|
+---------+----------+--------+----------+------+------+-----------+
|    James|          |   Smith|1991-04-01|     M|  3000|      -3000|
|  Michael|      Rose|        |2000-05-19|     M|  4000|      -4000|
|   Robert|          |Williams|1978-09-05|     M|  4000|      -4000|
|    Maria|      Anne|   Jones|1967-12-01|     F|  4000|      -4000|
|      Jen|      Mary|   Brown|1980-02-17|     F|    -1|          1|
+---------+----------+--------+----------+------+------+-----------+

In [0]:
## Add a New Column
from pyspark.sql.functions import lit
df3=df.withColumn("data_src",lit("emp"))\
      .withColumn("another",lit("emp_an"))
df3.show()

+---------+----------+--------+----------+------+------+--------+-------+
|firstname|middlename|lastname|       dob|gender|salary|data_src|another|
+---------+----------+--------+----------+------+------+--------+-------+
|    James|          |   Smith|1991-04-01|     M|  3000|     emp| emp_an|
|  Michael|      Rose|        |2000-05-19|     M|  4000|     emp| emp_an|
|   Robert|          |Williams|1978-09-05|     M|  4000|     emp| emp_an|
|    Maria|      Anne|   Jones|1967-12-01|     F|  4000|     emp| emp_an|
|      Jen|      Mary|   Brown|1980-02-17|     F|    -1|     emp| emp_an|
+---------+----------+--------+----------+------+------+--------+-------+