In [0]:
data=[("James", "Sales", 3000),
    ("Michael", "Sales", 4600),
    ("Robert", "Sales", 4100),
    ("Maria", "Finance", 3000),
    ("James", "Sales", 3000),
    ("Scott", "Finance", 3300),
    ("Jen", "Finance", 3900),
    ("Jeff", "Marketing", 3000),
    ("Kumar", "Marketing", 2000),
    ("Saif", "Sales", 4100)
]

columns=("emp_name","dept","salary")
df=spark.createDataFrame(data=data,schema=columns)

In [0]:
df.printSchema()
df.show()

root
 |-- emp_name: string (nullable = true)
 |-- dept: string (nullable = true)
 |-- salary: long (nullable = true)

+--------+---------+------+
|emp_name|     dept|salary|
+--------+---------+------+
|   James|    Sales|  3000|
| Michael|    Sales|  4600|
|  Robert|    Sales|  4100|
|   Maria|  Finance|  3000|
|   James|    Sales|  3000|
|   Scott|  Finance|  3300|
|     Jen|  Finance|  3900|
|    Jeff|Marketing|  3000|
|   Kumar|Marketing|  2000|
|    Saif|    Sales|  4100|
+--------+---------+------+

In [0]:
##approx_count_distinct Aggregate Function  returns the count of distinct items in a group.
from pyspark.sql.functions import approx_count_distinct
print("approx_count_distinct :"+ \
      str(df.select(approx_count_distinct("salary")).collect()[0][0]))

approx_count_distinct :6