In [0]:
data=[("James", "Sales", 3000),
    ("Michael", "Sales", 4600),
    ("Robert", "Sales", 4100),
    ("Maria", "Finance", 3000),
    ("James", "Sales", 3000),
    ("Scott", "Finance", 3300),
    ("Jen", "Finance", 3900),
    ("Jeff", "Marketing", 3000),
    ("Kumar", "Marketing", 2000),
    ("Saif", "Sales", 4100)
]

columns=("emp_name","dept","salary")
df=spark.createDataFrame(data=data,schema=columns)

In [0]:
df.printSchema()
df.show()

root
 |-- emp_name: string (nullable = true)
 |-- dept: string (nullable = true)
 |-- salary: long (nullable = true)

+--------+---------+------+
|emp_name|     dept|salary|
+--------+---------+------+
|   James|    Sales|  3000|
| Michael|    Sales|  4600|
|  Robert|    Sales|  4100|
|   Maria|  Finance|  3000|
|   James|    Sales|  3000|
|   Scott|  Finance|  3300|
|     Jen|  Finance|  3900|
|    Jeff|Marketing|  3000|
|   Kumar|Marketing|  2000|
|    Saif|    Sales|  4100|
+--------+---------+------+

In [0]:
##approx_count_distinct Aggregate Function  returns the count of distinct items in a group.
from pyspark.sql.functions import approx_count_distinct
print("approx_count_distinct :"+ \
      str(df.select(approx_count_distinct("salary")).collect()[0][0]))

approx_count_distinct :6

In [0]:
## avg functions

from pyspark.sql.functions import avg
print("avg_salary:"+ \
     str(df.select(avg("salary")).collect()[0][0]))

avg_salary:3400.0

In [0]:
## collect_list function returns all values from an input columns with duplicates
from pyspark.sql.functions import collect_list
df.select(collect_list("salary")).show(truncate=False)

+------------------------------------------------------------+
|collect_list(salary)                                        |
+------------------------------------------------------------+
|[3000, 4600, 4100, 3000, 3000, 3300, 3900, 3000, 2000, 4100]|
+------------------------------------------------------------+

In [0]:
## collect_set function return all values from an input columns without duplicates

from pyspark.sql.functions import collect_set
df.select(collect_set("salary")).show(truncate=False)

+------------------------------------+
|collect_set(salary)                 |
+------------------------------------+
|[4600, 3000, 3900, 4100, 3300, 2000]|
+------------------------------------+